/* -- Lead Triage -- */

/* -- jQuery UI Overrides -- */

.ui-widget,
.ui-widget button,
button,
a.button,
input,
input.form-submit,
textarea,
select,
.tooltip {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

.ui-widget button {
  font-size: 14px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  background-image: none;
  background: transparent;
  font-weight: normal;
  color: #000;
}

.ui-accordion-header-icon {
  display: none;
}

.ui-dialog {
  position: absolute;
  top: 115px !important;
}

.ui-widget-content {
  border: none;
}

.ui-dialog-titlebar {
  display: none;
}

/* -- Pillaged from Bootstrap -- */

.lead-triage .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.lead-triage .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
#lead-search-button,
.filter-toggle-button,
.delete-lead-button {
  margin-left: 2px !important;
}


/* -- Layout -- */

div.region.region-sidebar-first,
div.region.region-footer {
  display: none;
}

body {
  background-color: #f8f8f8;
}

.lead-triage  {
  width: 100%;
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

*:focus {
  outline: 0 !important;
}

.lead-triage #lt-header {
  display: block;
  border-bottom: 1px solid #e7e7e7;
}

.lead-triage #lt-sidebar {
  float: left;
  width: 250px;
}

.lead-triage #lt-page-wrapper {
  float: left;
  background: #fff;
  box-sizing: border-box;
  width: calc(100% - 251px);
  padding: 0 30px 30px;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.lead-triage .text-right {
  float: right;
  text-align: right;
}

.lead-triage .pull-right {
  float: right;
}

.lead-triage .pull-left {
  float: left;
}

/* -- General Components -- */

.tooltip,
.ui-tooltip {
  position: fixed;
  background: #000;
  color: #fff;
  padding: 0 3px;
  font-weight: normal;
}

.lead-triage .btn {
  min-height: 40px;
  min-width: 40px;
}

/* -- Titles & General Font -- */

.lead-triage #lt-header a {
  text-decoration: none;
}

.lead-triage #lt-header a h1 {
  color: #777;
  margin-left: 20px;
}

.lead-triage h1.page-header {
  font-size: 2.25rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.lead-triage .huge {
  font-size: 2rem;
}

/* -- Sidebar Nav -- */

.lead-triage nav#lt-nav-cont ul li {
  list-style: none;
  border-bottom: 1px solid #e7e7e7;
}

.lead-triage nav#lt-nav-cont ul li a {
  display: block;
  list-style: none;
  padding: 10px 20px;
  color: #428bca;
}

.lead-triage nav#lt-nav-cont ul li a:hover,
.lead-triage nav#lt-nav-cont ul li a:focus {
  background: #eee;
  text-decoration: none;
}

.lead-triage nav#lt-nav-cont ul li a:active {
  background: #eee;
  color: #333;
}

.lead-triage nav#lt-nav-cont ul li a i {
  width: 35px;
  text-align: left;
}

/* -- Dashboard - Lead Conversion -- */

.lead-triage .dash-conversion {
  border: 1px solid #bce8f1;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.lead-triage .dash-conversion .dash-conversion-heading {
  background: #d9edf7;
  border-bottom: 1px solid #bce8f1;
  padding: 10px 20px;
}

.lead-triage .dash-conversion .dash-conversion-heading h4 {
  color: #31708f;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.lead-triage .dash-conversion .dash-conversion-body {
  padding: 20px;
  text-align: center;
}

.lead-triage .dash-conversion .dash-conversion-body .grey,
.lead-triage .dash-conversion .dash-conversion-body .green,
.lead-triage .dash-conversion .dash-conversion-body .red {
  display: inline-block;
  width: 31%;
  margin-right: 2%;
  padding: 10px 15px;
  box-sizing: border-box;
  color: #fff;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.lead-triage .dash-conversion .dash-conversion-body .grey {
  background: #737373;
}

.lead-triage .dash-conversion .dash-conversion-body .green {
  background: #5cb85c;
}

.lead-triage .dash-conversion .dash-conversion-body .red {
  background: #d9534f;
  margin-right: 0;
}

.lead-triage .dash-conversion a.dash-conversion-footer {
  display: block;
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  color: #0071B3;
  padding: 10px 20px;
}

/* -- Dashboard - Sales Reps & Lead Assignment -- */

.lead-triage .dash-reps {
  border: 1px solid #faebcc;
  width: 49%;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.lead-triage .dash-reps .dash-reps-heading {
  background: #fcf8e3;
  border-bottom: 1px solid #faebcc;
  padding: 10px 20px;
}

.lead-triage .dash-reps .dash-reps-heading h4 {
  color: #8a6d55;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.lead-triage .dash-reps .dash-reps-body {
  padding: 20px;
  text-align: left;
}

.lead-triage .dash-reps .dash-reps-body p {
  margin-bottom: 0.5em;
}

.lead-triage .dash-reps a.dash-reps-footer {
  display: block;
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 10px 20px;
  color: #8a6d55;
}

.lead-triage .dash-reps a:hover,
.lead-triage .dash-reps a:focus {
  color: #ae8d55;
}

.lead-triage .flot-chart {
  display: block;
  height: 400px;
}

.lead-triage .flot-chart-content {
  width: 100%;
  height: 100%;
}

/* -- Overview - Lead Search -- */

.lead-triage .overview-left,
.lead-triage .overview-right {
  width: 49%;
  background: #f8f8f8;
  border: 1px solid #ddd;
  box-sizing: border-box;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.lead-triage .lead-header {
  border-bottom: 1px solid #ddd;
  padding: 20px;
  min-height: 40px;
  box-sizing: content-box;
}

.lead-triage .lead-header .input-group {
  float: right;
  text-align: right;
}

.lead-triage .lead-header .input-group input {
  font-size: 1em;
  margin: 0;
  padding: 0 10px;
  height: 38px;
  vertical-align: middle;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media (max-width: 1090px) {
  .lead-triage .lead-header .input-group input {
    width: 125px;
  }
}

.lead-triage .lead-header .input-group input.form-submit {
  color: #fff;
  background-image: none;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-right: 4px;
}

.lead-triage .lead-header .input-group input.form-submit:hover,
.lead-triage .lead-header .input-group input.form-submit:focus {
  background-image: none;
  background-color: #286090;
  border-color: #204d74;
}

.lead-triage .lead-header .input-group .input-group-btn {
  display: inline;
  position: relative;
}

.lead-triage .lead-header .input-group .input-group-btn ul {
  display: none;
  position: absolute;
  width: 266px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0 10px 10px;
  margin-top: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
  font-size: 14px;
}

.lead-triage .lead-header .input-group .input-group-btn ul li {
  list-style: none;
  padding-left: 20px;
}

.lead-triage .lead-header .input-group .input-group-btn ul li.list-group {
  border-bottom: 1px solid #ddd;
  padding: 9px 0 3px;
  margin-bottom: 4px;
}

.lead-triage .lead-header .input-group .input-group-btn ul li.list-group span {
  position: relative;
  top: 33px;
}

.lead-triage .lead-header .input-group .input-group-btn ul li a {
  position: relative;
  color: #0071B3;
}

.lead-triage .lead-header .input-group .input-group-btn ul li a:hover,
.lead-triage .lead-header .input-group .input-group-btn ul li a:focus {
  color: #018fe2;
  text-decoration: underline;
}

.lead-triage .lead-header .input-group .input-group-btn ul li a i {
  position: absolute;
  left: -20px;
  top: 0;
  color: #0071B3;
}

.lead-triage .lead-header .input-group .input-group-btn ul li a:hover i,
.lead-triage .lead-header .input-group .input-group-btn ul li a:focus i {
  color: #018fe2;
  text-decoration: none;
}

/* -- Overview - Modals -- */

.modal-header {
  position: relative;
}

.modal-header h1 {
  margin-top: 0;
  padding: 10px 10px 0;
}

.modal-header button.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  min-height: 10px;
  min-width: 10px;
  padding: 0 5px;
}

.modal-body {
  padding: 15px 10px;
}

.modal-body form .form-group {
  width: 46%;
  display: inline-block;
  margin-right: 2%;
}

.modal-body form .form-group input {
  width: 90%;
}

.modal-body form .form-group textarea {
  width: 93%;
}

.modal-body form .modal-footer input.form-submit {
  color: #fff;
  background: #5cb85c;
  border-color: #4cae4c;
  text-decoration: none;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 5px 0 0;
}

.modal-body form .modal-footer input.form-submit:hover,
.modal-body form .modal-footer input.form-submit:focus {
  background: #449d44;
  border-color: #398439;
}

.modal-content > .modal-footer {
  padding: 10px;
}

#lead-edit-modal,
#delete-lead-confirmation-modal,
#permanently-delete-lead-confirmation-modal,
#lead-create-modal {
  display: none;
  border-radius: 10px;
}

/* -- Overview - Leads List & Sales Rep List -- */

.lead-triage ul#leads-list,
.lead-triage ul.sales-rep-list {
  background: #fff;
}

.lead-triage ul.sales-rep-lead-list {
  border: 0;
  background: #f8f8f8;
}

.lead-triage ul#leads-list li,
.lead-triage ul.sales-rep-list li,
.lead-triage ul#my-leads-list li {
  font-family: Arial, sans-serif;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.lead-triage ul.sales-rep-lead-list li {
  font-family: Arial, sans-serif;
  min-height: 40px;
  border-bottom: 1px solid #ddd;
}

.lead-triage ul.sales-rep-lead-list li .ui-widget-content {
  background: transparent;
}

.lead-triage ul.sales-rep-list li:hover {
  cursor: pointer;
}

.lead-triage ul#leads-list li:hover,
.lead-triage ul.sales-rep-lead-list li:hover {
  cursor: move;
}

.lead-triage ul#leads-list li h2 {
  margin-top: 0;
  font-size: 1.357em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.lead-triage ul.sales-rep-list li h4 {
  font-size: 18px;
  padding-bottom: 5px;
}

.lead-triage ul.sales-rep-lead-list li h5 {
  font-size: 17px;
  padding-bottom: 10px;
}

.lead-triage ul.sales-rep-lead-list li .ui-accordion-content {
  border: 0;
}

.lead-triage ul#leads-list li button,
.lead-triage ul.sales-rep-lead-list li button,
.lead-triage ul#my-leads-list li button {
  margin-left: 5px;
}

.lead-triage ul#leads-list li p,
.lead-triage ul.sales-rep-lead-list li p,
.lead-triage ul#my-leads-list li p {
  margin: 0;
}

.lead-triage ul#leads-list li p label,
.lead-triage ul.sales-rep-lead-list li p label,
.lead-triage ul#my-leads-list li p label {
  display: inline;
}

.dragging-lead {
  border: 1px dashed #555555;
  padding: 0 20px 10px;
  background-color: #ffffff;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.sales-rep-spinner {
  width: 14px;
  height: 14px;
  display: none;
}

.leads-list-spinner {
  display: none;
  width: 100%;
  height: 110px;
  text-align: center;
  line-height: 110px;
  border: 1px solid #ddd;
  border-top: none;
}

.leads-list-spinner img {
  vertical-align: middle;
  width: 64px;
  height: 64px;
}

.ball-indicator {
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
}

.green-ball {
  background-image: url("../images/green-ball.png");
}

.corner-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
}

.grey-indicator {
  border-color: #bcbcbc transparent transparent transparent;
}

.priority-indicator {
  background-color: #71bfe8;
  padding: 0 10px;
  margin-left: 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

.high-priority, .c-input>.high-priority:checked~.c-indicator, .c-input>.high-priority~.c-indicator:hover {
  background-color: #e3574d;
}

.med-priority, .c-input>.med-priority:checked~.c-indicator, .c-input>.med-priority~.c-indicator:hover {
  background-color: #f6bf19;
}

.low-priority, .c-input>.low-priority:checked~.c-indicator, .c-input>.low-priority~.c-indicator:hover {
  background-color: #84c46b;
}

.no-priority, .c-input>.no-priority:checked~.c-indicator, .c-input>.no-priority~.c-indicator:hover {
  background-color: #71bfe8;
}

.c-radio input {
  display: none;
}

.c-indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ddd;
}
